@font-face {
  font-family: "Beef'd";
  src: url("../fonts/Beef'd.ttf");
}



iframe {
    display: block;
    margin: auto;
    width: 1000px;
    height: 500px;
}

#tracks {
    margin: auto;
    padding: 20px;
}

td {
    margin: 20px;
    padding: 20px;
    width: 300px;
}

th {
    margin: 20px;
    padding: 20px;
    width: 200px;
}

#lvl-6 {
    background-color: #EC5958;
  padding-top: 90px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 80px;
}

body{
  height: 100%;
  margin:0;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 14pt;
  background: #82eaff; 
}

.text {
  margin: auto;
  max-width: 1200px;
}

.descript {
  font-size: 50px;
  max-width: 1200px;
  font-weight: 200;
  padding: 50px;
  border: solid 5px white;
}

.outer {
  position:relative;
}

.lvl{
  display:block;
  min-height: 100vh;
  padding-bottom: 30px;
  box-sizing: border-box;
}

#make{
  font-family: "Beef'd";
  font-size: 70px;
  color: white;
  text-align:center;
  margin-bottom: 0;
}


#lvl-1 {
  background-color: #82eaff;  
  text-align:center;
  color: black;
  position: relative;
  padding-bottom: 90px;
}

button {
    font-family: Montserrat;
    font-weight: 300;
    border-radius:30px;
    padding: 15px 33px;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: black;
    color: #82eaff;
    border:solid 2px black;
    cursor: pointer;
}

button:hover {
  color: black;
  background-color: #82eaff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#tagline-small{
    font-size: 20px;
    margin-top: 25px;
    padding-bottom: 10px;
    font-weight: 300;
    line-height: 27px;
}

#lvl-2{
  background-color: #ffa373;
  padding-top: 90px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 80px;
}


#lvl-4{
  background-color: #a37cee;  
  padding: 3rem;
}


#lvl-5{
  background-color: #a8e479;  
  padding: 3rem;
}


li {
  margin: 0.7rem;
}

a:link, a:visited, a:hover, a:active {
  color: white;
}

.uncommon {
  font-family: "Beef'd";
  font-size: 20px;
  margin-top: 50px;
  display: inline-block;
}

.home, .about, .blog {
  margin-left: 40px;
}

.fake-nav {
  text-align: left;
}

.nav-links {
  float: right;
  margin-right: 50px;
  margin-top: 57px;
  font-weight: 300;
  font-size: 15px;
}

.social-media {
  right: 15px;
  position: absolute;
  bottom: 30px;
  color: black;
}

.media {
  height: 35px;
  /* cursor: url('../img/hover.svg'), auto; */
}

.facebook, .twitter, .messenger, .email {
  display: block;
  margin-bottom: 15px;
}

.no-underline {
  cursor: pointer;
}

.no-underline:link, .no-underline:visited, .no-underline:hover, .no-underline:active {
  text-decoration: none;
  color: black;
}

.tagline {
  display: block;
  margin-top: 30px;
  font-size: 60px;
  font-weight: 200;
}

.make-txt {
  font-weight: 700;
}

.logo {
  height: 100px;
  margin-top: 120px;
}

.uncommon {
  margin-left: 50px;
}

.uncommon-bold {
  font-weight: 500;
}

.section-title {
  font-weight: 600;
  font-size: 50px;
}

.schedule {
  font-weight: 200;
  font-size: 30px;
  line-height: 40px;
  list-style-type: none;
  padding-left: 0px;
}

.sched-box {
  border: solid 5px white;
  padding: 20px 50px 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.time {
  font-weight: 300;
}

.question {
  font-weight: 400;
}

li {
  padding: 0;
  margin: 0 0 40px 0;
}

@media(max-width: 846px) {
  .tagline {
    font-size: 50px;
  }

  .uncommon {
    font-size: 15px;
  }

  .nav-links {
    margin-top: 54px;
  }

  iframe {
      width: 400px;
  }
}

@media(max-width: 650px){
    iframe {
        width: 300px;
    }
}

@media(max-width: 465px) {
  .uncommon {
    margin-left: 35px;
  }

  .nav-links {
    margin-right: 35px;
  }

  .logo {
    margin-top: 45px;
  }

  iframe {
      width: 200px;
  }
}

@media(max-width: 410px) {
  .uncommon {
    margin-left: 25px;
  }

  .uncommon {
    margin-top: 38px;
  }

  .nav-links {
    margin-right: 25px;
    margin-top: 41px;
  }

  .logo {
    height: 80px;
  }

  .tagline {
    font-size: 45px;
  }

  .facebook, .twitter, .messenger, .email {
    display: inline-block;
    margin-right: 8px;
  }

  .social-media {
    bottom: 5px;
  }

  .tagline {
    margin-top: 15px;
  }

  #tagline-small {
    margin-top: 20px;
    font-size: 18px;
    padding-bottom: 5px;
  }

  button {
    padding: 13px 30px;
    font-size: 13px;
  }

  iframe {
      width: 200px;
  }
}

@media (max-width: 376px) {
  .tagline {
    font-size: 40px;
  }

  .logo {
    margin-top: 45px;
  }

  iframe {
      width: 100px;
  }
}

@media (max-width: 1268px) {
  .descript, .section-title {
    font-size: 40px;
  }

  iframe {
      width: 800px;
  }
}

@media(max-width: 938px) {
  .descript {
    font-size: 35px;
    padding: 30px;
  }

  .section-title {
    font-size: 35px;
  }

  .text, .sched-box {
    padding: 35px;
    width: 100%;
    box-sizing: border-box;
  }

  #lvl-2, #lvl-5, #lvl-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .schedule {
    font-size: 25px;
    line-height: 28px;
  }
  
  iframe {
      width: 600px;
  }
}

@media(max-width: 618px) {
  .descript {
    font-size: 30px;
    padding: 25px;
  }

  .section-title {
    font-size: 30px;
  }

  .text, .descript {
    padding: 30px;
  }

  #lvl-2, #lvl-5, #lvl-4 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .schedule {
    font-size: 20px;
  }

  iframe {
      width: 400px;
  }
}

@media(max-width: 531px) {
  .descript, .sched-box {
    font-size: 23px;
    border: solid 3px white;
  }

  .section-title {
    font-size: 23px;
  }

  .text, .sched-box {
    padding: 20px;
  }

  #lvl-2, #lvl-5, #lvl-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .schedule {
    font-size: 18px;
  }

  iframe {
      width: 300px;
  }
}
