@font-face {
  font-family: "Beef'd";
  src: url("../fonts/Beef'd.ttf");
}

body{
  margin:0;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 14pt;
  background: #82eaff; 
}

.outer {
  position:relative;
}

.lvl{
  display:block;
}

#make{
  font-family: "Beef'd";
  font-size: 70px;
  color: white;
  text-align:center;
}


#lvl-1 {
  background-color: #82eaff;  
  text-align:center;
  height:100%;
  padding-bottom: 2%;
}

#lvl-3{
    background-color: #ffa373;
    text-align:center;
    height:100%;
    padding: 3%;
}

button {
    border-radius:30px;
    padding: 8px 25px;
    font-size: 1.9rem;
    font-weight: 200;
    display: inline-block;
    text-transform: upppercase;
    text-align: center;
    color: white;
    background-color:transparent;
    border:solid 4px white;
    cursor: pointer;
}

#tagline{
    font-size: 30px;
}

#lvl-2{
  background-color: #ffa373;
  padding: 3rem 3rem 0 3rem;
  height:100%;
}


#lvl-4{
  background-color: #a37cee;  
  padding: 3rem;
  height:100%;
}


li {
  margin: 0.7rem;
}
